<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Bodas 60 anos</title>
  </head>
  <body class="bg-gray-100">
    <div id="app">
      <header
        class="flex flex-col justify-center items-center p-6 m-6 mb-0 bg-gray-800 rounded-lg border-2 border-white shadow"
      >
        <h1 class="text-gray-100 text-center font-bold text-xl">
          Fotos bodas de 60 anos
        </h1>
        <div class="my-3 flex">
          <input
            class="px-3 py-1 rounded bg-gray-300"
            type="number"
            v-model="currentPage"
          />
          <div
            @click="currentPage++"
            class="cursor-pointer bg-blue-500 mx-1 flex items-center justify-center w-8 font-bold text-white rounded"
          >
            +
          </div>
          <div
            @click="currentPage--"
            class="cursor-pointer bg-red-500 flex items-center justify-center w-8 font-bold text-white rounded"
          >
            -
          </div>
        </div>
        <div class="text-gray-200">
          Mostrando fotos de
          <strong> {{initialIndex + 1}} </strong>
          até
          <strong> {{initialIndex + perPage}} </strong>
          | {{qtd}}
        </div>
      </header>
      <section class="p-3 flex flex-wrap">
        <div v-if="(index + initialIndex) <= qtd" class="w-1/2 md:w-1/6 p-3" v-for="index in perPage" :key="index">
          <a :href="'imgs/bodas-'+ (index + initialIndex)  +'.jpg'" target="_blank">
            <img
              class="border-2 border-white shadow rounded-lg"
              :src="'thumbs/bodas-'+ (index + initialIndex)  +'.jpg'"
              :alt="'bodas-'+ (index + initialIndex) +'.jpg'"
              loading="lazy"
            />
          </a>
        </div>
      </section>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data() {
          return {
            qtd: 364,
            perPage: 18,
            currentPage: 1,
          };
        },
        computed: {
          initialIndex() {
            return this.perPage * (this.currentPage - 1 );
          },
        },
      });
    </script>
  </body>
</html>
